@inherits LayoutBase
<PageTitle>@PageTitle</PageTitle>
<div class="window" style="margin: 32px; width: 250px">
    <div class="title-bar">
        <div class="title-bar-text">
            @PageTitle
        </div>
    </div>
    <div class="window-body">
        @Body
    </div>
</div>