@inherits LayoutBase
<PageTitle>@PageTitle</PageTitle>
<div class="window" style="min-width: 80vw; min-height: 80vh">
    <div class="title-bar">
        <div class="title-bar-text">
            @PageTitle
        </div>
        <div class="title-bar-controls">
            <NavLink href="/">
                <button aria-label="Minimize"></button>
            </NavLink>
            <NavLink href="/">
                <button aria-label="Maximize"></button>
            </NavLink>
            <NavLink href="/AboutUs">
                <button aria-label="Close"></button>
            </NavLink>
        </div>
    </div>
    <div class="window-body">
        @Body
    </div>
</div>
