.root-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("keboom.png");
    height: 90vh;
    background-size: contain;
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
}

    .root-content > img {
        object-fit: cover;
        height: 80vh;
    }

.window-body {
    height: 90vh;
}
