@using Keboom.Shared
<h1>Minefield</h1>

<div style="--columns: @GameState?.Board?.Width; --rows: @GameState?.Board?.Height" class="minefield">
@for(int row = 1; row <= GameState?.Board?.Height; row++) {
    @for(int col = 1; col <= GameState?.Board?.Width; col++) {
        <button>
            CELL(@row, @col)

        </button>
    }
}
</div>

@code
{
    [CascadingParameter(Name = "GameState")]
    public GameState? GameState { get; set; }
}
