.minefield {
    flex-flow: 8;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    gap: 0;
    aspect-ratio: 1/1;
    height: 100%;
}

.cell {
    padding: 0;
    aspect-ratio: 1/1;
    min-height: 100%;
    min-width: 100%;
    background: silver;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-style:hidden
}

    .cell + .opened {
        border-style: groove;
    }
