@using Keboom.Client.Converters;
@using Keboom.Shared;
@inherits ComponentBase<ScoreBoardViewModel>


<div>
    <h3>Score</h3>

    @if (ViewModel.GameHasPlayers)
    {
        <h4>Players:</h4>
        <dl>
            @if (ViewModel.GameState?.Players is not null)
            {
                foreach (Player player in ViewModel.GameState.Players)
                {
                    <dt>Name:</dt>
                    <dd>
                        <span class="player-name">@player.Name</span>
                        @if (player.Id == ViewModel.GameState.CurrentPlayer?.Id)
                        {
                            <img class="current-player-image" src="@PlayerColorConverter.GetFlagImage(player.Color)" alt="current player flag" />
                        }
                    </dd>
                    <dt>Score:</dt>
                    <dd>@player.Score</dd>
                }
            }
        </dl>
    }


</div>

