dt {
    font-size: 1.6rem;
}

dd {
    font-size: 1.4rem;
    color: darkblue;
    height:1.5em;
    display:flex;
}

.player-name {
}

.current-player-image {
    height: 1.5em;
    overflow: visible;
}

@media screen and (max-height: 600px) {
    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    dt {
        font-size: 1rem;
    }

    dd {
        font-size: .8rem;
    }
}
