dt {
    font-size: 1.6rem;
}

dd {
    font-size: 1.4rem;
    color: darkblue;
    height:1.5em;
    display:flex;
}

.player-name {
}

.current-player-image {
    height: 1.5em;
    overflow: visible;
}
