@inherits ComponentBase<GameBoardViewModel>
@page "/AboutUs"
<h3>About Us</h3>

<div class="root-content">
    <p>
        This was project was inspired by an old <a href="https://wikipedia.org/wiki/Windows_Live_Messenger" target="_blank">Windows Live Messenger</a> (previously called MSN Messenger) game called <a href="https://lostmediawiki.com/Minesweeper_Flags_%28lost_Windows_Live_Messenger_game%3B_2000s%29" target="_blank">minesweeper flags</a>.
    </p>
    <p>
        It was built by "Team 8" as part of <a href="https://intellitect.com" target="_blank">IntelliTect's</a> 2022 hackathon.
    </p>
    <h4>Team Members (from left to right)</h4>
    <ul>
        <li>Kelly</li>
        <li>Kevin</li>
        <li>Artem</li>
        <li>Austen</li>
        <li>Kenny</li>
        <li>Zack</li>
    </ul>
    <img src="teams-image.png" alt="team members" class="team-image"/>
</div>
<br />
<br />

<NavLink href="/">
    <button>
        Back
    </button>
</NavLink>
@code {

}
