@page "/GameOver"
@inject NavigationManager Navigation
<PageTitle>Game Over</PageTitle>

<p>@Name has won!</p>
<p>With a score of @Score</p>
<div>
    <button value="submit" @onclick="() => NewGame()">New Game</button>
    <button value="reset" @onclick="() => QuitGame()">Too Much Danger</button>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string? Name { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public int? Score { get; set; }

    private void NewGame()
    {
        Navigation.NavigateTo($"/GameBoard?playerName={Name}");
    }
    private void QuitGame()
    {
        Navigation.NavigateTo("/AboutUs");
    }
}
