@inherits ComponentBase<GameBoardViewModel>
@page "/GameBoard"


<div class="container">
    <CascadingValue Value="@ViewModel.GameState" Name="GameState">
        @if (ViewModel.GameState?.GameStatus != GameStatus.WaitingForPlayersToJoin) {

            <Minefield></Minefield>
            <ScoreBoard></ScoreBoard>
        } else
        {
            <div>Waiting for other players</div>
            <div>Game Name: @ViewModel.GameState.Id </div>
        }

    </CascadingValue>
</div>


