@inherits ComponentBase<GameBoardViewModel>
@page "/GameBoard"

@if (ViewModel.GameState?.GameStatus != GameStatus.WaitingForPlayersToJoin)
{
    <div class="container">
        <CascadingValue Value="@ViewModel.GameState" Name="GameState">
            <CascadingValue Value="@ViewModel.ClientPlayer" Name="ClientPlayer">


                <Minefield></Minefield>
                <ScoreBoard></ScoreBoard>

            </CascadingValue>
        </CascadingValue>
    </div>
}
else
{
    <h3>Waiting for other players</h3>
    <img src="dial-up-modem.gif" style = "max-width: 80vw; width: 833px; height: auto;"  />
    <h4>Game Name: @ViewModel.GameState.Id</h4>
    <button type="button" class="copy-button" @onclick="ViewModel.CopyGameLinkToClipboard">Copy Shareable Game Link</button>
}


