@inherits ComponentBase<GameOverViewModel>
@page "/GameOver"
<PageTitle>Game Over</PageTitle>

<p>@WinningPlayerName has won!</p>
<p>With a score of @Score</p>
<div>
    <button value="submit" @onclick="() => ViewModel.NewGameCommand.Execute(null)">New Game</button>
    <button value="reset" @onclick="() => ViewModel.QuitGameCommand.Execute(null)">Too Much Danger</button>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string? WinningPlayerName { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public int? Score { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? CurrentPlayerName
    {
        get => ViewModel.CurrentPlayerName;
        set => ViewModel.CurrentPlayerName = value;
    }
}
