@inherits ComponentBase<GameBoardViewModel>
@page "/GameBoard"


<div class="container">
    <CascadingValue Value="@ViewModel.GameState" Name="GameState">
        <CascadingValue Value="@ViewModel.ClientPlayer" Name="ClientPlayer">
            @if (ViewModel.GameState?.GameStatus != GameStatus.WaitingForPlayersToJoin)
            {

                <Minefield></Minefield>
                <ScoreBoard></ScoreBoard>
            }
            else
            {
                <div>Waiting for other players</div>
                <div>Game Name: @ViewModel.GameState.Id</div>
                <button type="button" class="copy-button" @onclick="ViewModel.CopyGameLinkToClipboard">Copy Shareable Game Link</button>
            }
        </CascadingValue>
    </CascadingValue>
</div>


