@inherits ComponentBase<GameBoardViewModel>
@page "/GameBoard"

<h1>Minefield</h1>

<div class="container">
    <CascadingValue Value="@ViewModel.GameState" Name="GameState">
        <Minefield></Minefield>
        <ScoreBoard></ScoreBoard>
    </CascadingValue>
</div>


