@page "/HowToPlay"

<div class="root-content">
    <h3>How to Play</h3>
    <p>
        Keboom! It's Minesweeper but you score by flagging a mine. But maybe you are of a generation that hasn't enjoyed minesweeper...
    </p>
    <h4>
        Gameplay (Things to know):
    </h4>
    <ul>
        <li>The board is a minefield. Each box is either a mine or not.</li>
        <li>If you click on mine you score a point and you get to go again!</li>
        <li>If it is not a mine the box will have a number and your turn is over.</li>
        <li>What's the number?! It is how many mines are around the box. If the box says 2, then there are 2 mines in spaces adjacent to that box.</li>
        <li><img src="exampleMines.png" alt="example of mines around box" style="max-width:80vw;"></li>
    </ul>
    <br />

</div>
<br />
<br />

<NavLink href="/">
    <button>
        Back
    </button>
</NavLink>
