@inherits ComponentBase<IndexViewModel>
@page "/"

<HeroImage>
    <Content>
        <NavLink href="/GameBoard">
            <button>
                Begin New Game
            </button>
        </NavLink>

        <h2>Join Game</h2>
        <InputText @bind-Value="ViewModel.GameName"></InputText>
        <h2>Your Name</h2>
        <InputText @bind-Value="ViewModel.JoiningPlayerName"></InputText>
    </Content>
</HeroImage>


