@inherits ComponentBase<IndexViewModel>
@page "/"
<div id="mobile-warning">If you are on a mobile device, please turn your phone sideways to play.</div>

<HeroImage>
    <Content>
        <NavLink href="/GameBoard">
            <button>
                Begin New Game
            </button>
        </NavLink>

        <div class="form-inline">
        @if (ViewModel.JoinButtonVisible)
        {

            <h2>Game Code</h2>
            <InputText @bind-Value="ViewModel.GameName"></InputText>

        }
        <h2>Your Name</h2>
        <InputText @bind-Value="ViewModel.PlayerName"></InputText>

        @if (ViewModel.CreateButtonVisible)
        {
            <button class="btn btn-primary" visible="@ViewModel.CreateButtonVisible" @onclick="ViewModel.NavigateToGameBoardAndCreateGame">
                Create Game
            </button>
        }
        @if (ViewModel.JoinButtonVisible)
        {
            <button class="btn btn-primary" visible="@ViewModel.JoinButtonVisible" @onclick="ViewModel.NavigateToGameBoardAndJoinGame">
                Join Game
            </button>
        }
        </div>
    </Content>
</HeroImage>
