@page "/"

<div class="root-content">
    <div>
         <button>
            <NavLink href="/GameBoard" style="color: black">
                Danger
            </NavLink>
        </button>
    </div>
</div>


