@page "/"

<div style="display: flex; align-items: center; justify-content: center; height: 100%; width: 100%;">
    <div>
         <button>
            <NavLink href="/GameBoard" style="color: black">
                Danger
            </NavLink>
        </button>
    </div>
</div>


