@inherits ComponentBase<IndexViewModel>
@page "/"
<div id="mobile-warning">If you are on a mobile device, please turn your phone sideways to play.</div>

<HeroImage>
    <Content>
        <div style="height: 20vh;"></div>
        <div class="window" style="width: 300px">
            <div class="title-bar">
                <div class="title-bar-text">Game Options</div>
            </div>
            <div class="window-body">


                <div class="field-row-stacked" style="width: 200px">
                    <label for="text18">Your Name</label>
                    <InputText @bind-Value="ViewModel.PlayerName"></InputText>
                </div>
                <div class="field-row-stacked" style="width: 150px;">

                    <button @onclick="ViewModel.NavigateToGameBoardAndCreateGame">
                        Create Game
                    </button>
                    <button @onclick="ViewModel.JoinRandomGame">
                        Join Random Game
                    </button>

                </div>
                <div class="field-row-stacked" style="width: 200px">
                    <label for="text18">Game Code</label>
                    <InputText @bind-Value="ViewModel.GameName"></InputText>

                    <button @onclick="ViewModel.NavigateToGameBoardAndJoinGame">
                        Join Game
                    </button>
                </div>


                <br />
                <br />

                <div class="field-row-stacked" style="width: 200px">
                    
                    <button @onclick="ViewModel.NavigateToHowTo">
                        What is Keboom?
                    </button>
                </div>


            </div>
        </div>

    </Content>
</HeroImage>
